canvas{
    display: block;
    margin: auto;
    padding-top: 5vh;
}
body{
  
  margin: auto;
  width: 100vh;
  height: 100vh;
  background-image: url("cogus001.webp");
  background-size: cover;
}
#placar{
  position: relative;
  display: flex;
  width: 100vh;
  height: auto;
  justify-content: center;
  padding-top: 2vh;
}
#placar2{
  position: relative;
  display: flex;
  width: 100vh;
  height: auto;
  justify-content: center;
  padding-top: 2vh;
}
#score{
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2vh;
  width: 30vw;
  height: 5vh;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 3px #252301, 0 0 5px #4b522a;
  background: repeating-linear-gradient(
  45deg,
  #736c23,
  #736c23 10px,
  #000000 10px,
  #000000 30px
);
  
}
#time{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 5vh;
  font-size: 1.5em;
  font-weight: bold;
  color: #fab8b8;
  text-shadow: 0 0 3px #252301, 0 0 5px #4b522a;
  background: repeating-linear-gradient(
  45deg,
  #736c23,
  #736c23 10px,
  #000000 10px,
  #000000 30px
);
  
}
#botao{
  display: flex;
  width: 100vh;
  justify-content: center;
  padding-top: 5vh;
}
button{
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 3px #252301, 0 0 5px #4b522a;
  background: repeating-linear-gradient(
  45deg,
  #736c23,
  #736c23 10px,
  #000000 10px,
  #000000 30px
);

}
#botao2 {
  display: none;
}
@media (max-width:510px) {
  body{
    width: fit-content;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  canvas{
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  #score, #time, #botao, #placar, #placar2{
    width: 500px;
    margin: 0;
    padding: 1;
  }
  #botao2{
   
    width: fit-content;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    

  }
  #botao{
    padding-top: 2vh;
  }
  button{
    width: 30vw;
  }
  #reset{
    font-size: 1em;
    width: auto;
  }
}